<footer>
    <div id="foot">
        <div id="logo2">
            Codial by Shivangi Garg 
        </div>
        <div id="foot-links">
            <div class="links">
               <a href="/" style="text-decoration: none;">Home</a>
            </div>
            <div class="links">
                <a href="/users/profile" style="text-decoration: none;">Profile</a>
            </div>
        </div>
    </div>
</footer>